[submodule "vendor/elm-ui"]
	path = vendor/elm-ui
	url = https://github.com/mdgriffith/elm-ui
	branch = 2.0
[submodule "vendor/elm-animator"]
	path = vendor/elm-animator
	url = https://github.com/mdgriffith/elm-animator
	branch = v2
[submodule "vendor/elm-webcrypto"]
	path = vendor/elm-webcrypto
	url = https://github.com/mpizenberg/elm-webcrypto
[submodule "vendor/elm-uuid"]
	path = vendor/elm-uuid
	url = https://github.com/mpizenberg/elm-uuid
	branch = v7
[submodule "vendor/elm-indexeddb"]
	path = vendor/elm-indexeddb
	url = https://github.com/mpizenberg/elm-indexeddb
